<% content_for(:title, 'ゲーム') %>
<div class="container mt-2">
  <h2 class="text-center mb-2">
    <%= @question.number %>/5問目 <i class="bi bi-search"></i>
  </h2>
  <div class="d-flex justify-content-center">
    <%= image_tag @question.image_url, alt: "ゲーム画像", class: "img-fluid", style: "max-height: 65vh; object-fit: contain;" %>
  </div>
  <p class="text-center text-muted mt-1">
    画像提供：<a href="https://pixabay.com/" target="_blank" rel="noopener noreferrer">Pixabay</a>
  </p>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <%= form_tag answer_game_questions_path(@question.game), method: :post do %>
      <%= hidden_field_tag :question_id, @question.id %>

      <div class="input-group">
        <%= text_field_tag :search, nil, placeholder: "検索ワード", class: "form-control text-left" %>
        <%= submit_tag "検索" %>
      </div>

    <% end %>
  </div>
</div>
