<% content_for(:title, '称号') %>
<h2 class="text-center">称号</h2>
<div class="alert alert-info text-center mx-auto" style="max-width: 400px;">
  <h5 class="text-center">最高得点:<%= @score %>点</h5>
  <h5 class="text-center">プレイ回数:<%= @count %>回</h5>
</div>

<div class="container">
  <div class="row">
    <% @badges.each do |badge| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card text-center">
          <%= image_tag asset_path(badge[:image]), alt: badge[:name], class: 'card-img-top p-3', style: 'height: 200px; object-fit: contain;' %>
          <div class="card-body">
            <h5 class="card-title"><%= badge[:name] %></h5>
            <h6 class="card-title text-danger">達成！</h5>
          </div>
        </div>
      </div>
    <% end %>
    <% @no_achieved_badges.each do |badge| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card text-center">
          <%= image_tag asset_path('hatena.png'), alt: badge[:name], class: 'card-img-top p-3', style: 'height: 200px; object-fit: contain;' %>
          <div class="card-body">
            <h5 class="card-title"><%= badge[:name] %></h5>
            <h6 class="card-title">未達成</h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

