<% content_for(:title, 'ゲーム結果') %>
<div class="text-center">
  <h2>ゲーム終了！お疲れさまでした！</h2>
  <p>合計得点: <strong><%= @total_score %>点</strong> !</p>

  <%= link_to "もう一度プレイする", games_path, class: "btn btn-primary" %>
  <%= link_to "ホームに戻る", root_path, class: "btn btn-secondary" %>
  
  <% tweet_text = "画像検索ゲーム「FIRST HIT」で#{@total_score} 点獲得したよ！ みんなも挑戦しよう！" %>
  <% tweet_url = "https://first-hit.com" %> 
  <% hashtags = "FIRSTHIT,画像検索ゲーム" %>

  <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape(tweet_text) %>&url=<%= CGI.escape(tweet_url) %>&hashtags=<%= CGI.escape(hashtags) %>" 
    target="_blank" 
    rel="noopener noreferrer">
    <button>Xで共有</button>
  </a>
</div>
